/* Large Devices */
@media(min-width:1200px) and (max-width:2000px) {
    .container-fluid{
        margin-top: -2px;
    }
    .container-fluid {
        margin-top: 150px;
        text-align: center;
      }
}


/* Medium Devices */
@media(min-width:992px) and (max-width:1199px) {

    .slider-text {
        font-size: 1rem;

    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 25px;
    }

    .container .row .details p {
        font-size: 15px;
    }

    .container .row .details h2 {
        font-size: 20px;
    }
    .container-fluid{
        margin-top: -2px;
    }
    .link a{
        font-size: 30px;

    }
    #banner {
        width: 100%;
        height: 40vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/red-helicopter-homepage-banner-image.png);
        background-size: cover;
        background-repeat: no-repeat;
      }

      .container-fluid {
        margin-top: 100px;
        text-align: center;
      }
      #services  h4{
          font-size: 25px;
      }
      #services  p{
        font-size: 20px;
    }
    #services  img{
        width:20%;
    }
}


/* Small Devices */
@media(min-width:768px) and (max-width:991px) {
    .slider-text {
        font-size: 0.7rem;
    }
    h1{
        font-size:40px ;
        margin-top:40px;
    }

    .underline{
        margin-top: 20px;
    }
    
    h2{
        font-size:40px ;
        margin-bottom: 0px;
    }
    h3{
        font: size 20px ;
        margin-top: 0px;
    }


    .container .row .details p {
        font-size: 15px;
    }

    .container .row .details h2 {
        font-size: 20px;
    }
    .link {
        font-size: 10px;
        margin-top: 50px;

    }
    .link a{
        font-size: 20px;
    }
    #banner {
        width: 100%;
        height: 25vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/red-helicopter-homepage-banner-image.png);
        background-size: cover;
        background-repeat: no-repeat;
      }
      .container-fluid {
        margin-top: 75px;
        text-align: center;
      }
      h4{
          font-size: 50px;
      }
      .container-fluid {
        margin-top: 100px;
        text-align: center;
      }
      #services  h4{
          font-size: 25px;
      }
      #services  p{
        font-size: 20px;
    }
    #services  img{
        width:20%;
    }
    .container-fluid .row .col img {
        margin-top: 0px;
        width: 50%;
    }

}

/* Extra Small Devices */
@media(min-width:321px) and (max-width:767px) {

    .slider-text {
        font-size: 0.5rem;
    }
    
    
    h1 {
        margin-top:20px;
        font-size: 15px;
        margin-bottom: -20px;
        padding:0px 10px;
    }

    .underline{
        margin-top:20px;
    }

    h2 {
        font-size: 25px;
        margin-bottom: -20px;
    }

    .link{
        margin-top:20px;
    }

    h3 {
        font-size: 15px;
        padding: 0px 10px;
    }


    .container .row .details p {
        font-size: 15px;
        margin-bottom:5px;
    }

    .container .row .details h2 {
        font-size: 20px;
        margin-bottom:5px;
    }
    .link a{
        font-size: 18px;

    }
    #topbtn {
        position: fixed;
        bottom: 40px;
        left:75%;
        float: right;
        max-width: 60px;
        width: 100%;
        font-size: 25px;
        border-color: rgba(85, 85, 85, 0.2);
        background-color: black;
        padding: 2px;
        border-radius: 1px;
      
      }
      #banner {
        width: 100%;
        height: 15vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/red-helicopter-homepage-banner-image.png);
        background-size: cover;
        background-repeat: no-repeat;
      }
      .container-fluid {
        margin-top: 40px;
        text-align: center;
      }
      #services  h4{
          font-size: 20px;
          margin-bottom:-20px;
      }
      #services  p{
        font-size: 15px;
    }
    #services  img{
        width:20%;
    }
    .col-md-4 {
        border-right: 0px solid white;
      }

 
}

/* The Smallest Sized devices */

@media(max-width:320px) {
    .slider-text {
        font-size: 0.3rem;

    }
    
    h1 {
        font-size: 25px;
        margin-bottom: -20px;
        margin-top: 20px;
    }
    .underline{
        margin-top:20px;
    }
    .link {
        margin-top: 50px;
        text-align: center;
    }


    h2 {
        font-size: 25px;
        margin-bottom: -5px;
    }

    h3 {
        font-size: 15px;
    }


    .container .row .details p {
        font-size: 15px;
        margin-bottom:5px;
    }

    .container .row .details h2 {
        font-size: 20px;
        margin-bottom:5px;
    }

    .container-fluid{
        margin-top: -2px;
    }
    .link a{
        font-size: 18px;

    }
 
    .col-md-4 h4 {
        margin-bottom: -30px;
    }
    #topbtn {
        position: fixed;
        bottom: 40px;
        left:75%;
        float: right;
        max-width: 60px;
        width: 100%;
        font-size: 25px;
        border-color: rgba(85, 85, 85, 0.2);
        background-color: black;
        padding: 2px;
        border-radius: 1px;
      
      }
      #banner {
        width: 100%;
        height: 11vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/red-helicopter-homepage-banner-image.png);
        background-size: cover;
        background-repeat: no-repeat;
      }

      .container-fluid {
        margin-top: 100px;
        text-align: center;
      }
      #services  h4{
          font-size: 20px;
      }
      #services  p{
        font-size: 15px;
    }
    #services  img{
        width:20%;
    }
    .col-md-4 {
        border-right: 0px solid white;
      }
}

